.headline-box {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
    height: 100%;
    vertical-align: middle;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px
}

.height-fill {
    height: 100%;
}

#bestLevels {
    word-wrap: break-word;
}